@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Roboto:wght@500&display=swap');

/* Main styles */

body {
	margin: 0;
	background-color: #f6f8fa;
	font-family: "Open Sans", sans-serif;
}
header {
	background-color:#24292e;
	height: 64px;
}

aside {
	width: 24vw;
	background-color: #fff;
	border-right:1px solid #ebebeb;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

/* Left navigation */

.left-navigation ul {
	display: flex;
	flex-direction: column;
}

.left-navigation ul li{
	position: relative;
}
.left-navigation ul li::after{
	position: absolute;
   bottom: 0;
	left: 5%;
   width: 90%;
   border-top: 1px solid #ebebeb;
   content: "";
}

.left-navigation ul li a{
	display: block;
	padding: 18px 40px;
	text-decoration: none;
	color: #022b35;
}

.left-navigation ul li a:hover{
	margin-left: 2px;
	padding-left: 35px;
	background-color: #f6f8fa;
	border-left: 3px solid #3eafe4;
	color: #3eafe4;
}

/* Main section */

.main {
	display: flex;
}

.main__main-area {
	width: 76vw;
}

.main__item {
	display: flex;
	margin: 20px 20px;
	background-color: #fff;
	border: 1px solid #ebebeb;
	border-radius: 4px;
}

.main__item:hover {
	border: 1px solid #7cc3e4;
}

.main__item div{
	position: relative;
	padding: 20px 20px;
}
.main__item div:nth-of-type(n+2)::after{
	position: absolute;
   top: 20%;
	left: 0;
   height: 60%;
   border-right: 1px solid #ebebeb;
   content: "";
}
